<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Definers Member Sign up</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color: #E1EECC;">

<!-- header -->
<div th:replace="fragments/header"></div>

	<div class="container">
		
		
		<br>
		
		<!-- box -->
		<div class="d-flex justify-content-center">
			<div class="card w-50" style="border-radius: 20px; color: black;">
				<div class="card-body">
					<main>
						<h2>Sign up as a new Member</h2>

						<form class="needs-validation" th:action="@{/members/save}"
							method="post" th:object="${member}" novalidate>

							<div class="mb-3 col-10">
								<label for="member_name" class="form-label">Name: </label> 
								<input id="member_name" type="text" class="form-control" placeholder="Name"
								th:field="*{name}" required minlength=3 maxlength=50 />
								
								<!-- Input Validation -->
								<div class="invalid-feedback">Please enter a valid name.</div>
								<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
							</div>

							<div class="mb-3 col-10">
								<label for="member_username" class="form-label">Username:</label> 
								<input id="member_username" type="text" class="form-control" placeholder="Username"
								th:field="*{username}" required minlength=3 maxlength=100 />
								
								<!-- Input Validation -->
								<div class="invalid-feedback">Please enter a valid username.</div>
								<p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
							</div>

							<div class="mb-3 col-10">
								<label for="member_password" class="form-label">Password: </label> 
								<input id="member_password" type="password" class="form-control" placeholder="Password"
								th:field="*{password}" required minlength=3 maxlength=100 />
								
								<!-- Input Validation -->
								<div class="invalid-feedback">Please enter a valid password.</div>
								<p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
							</div>

							<div class="mb-3 col-10">
								<label for="member_email" class="form-label">Email: </label> 
								<input id="member_email" type="text" class="form-control"placeholder="Enter email" 
								th:field="*{email}" required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" /> 
								<small class="form-text text-muted">We'll never share your email with anyone else.</small>

								<!-- Input Validation -->
								<div class="invalid-feedback">Please enter a valid email.</div>
								<p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
							</div>

							<div class="mb-2">
								<button type="submit" class="btn btn-primary">Sign Up</button>
							</div>
							
						</form>

						<!-- Form validation, use javascript to perform dynamic functions -->
						<script>
							'use strict'

							var form = document
									.querySelector('.needs-validation')

							form.addEventListener('submit', function(event) {
								if (!form.checkValidity()) {
									event.preventDefault()
									event.stopPropagation()
								}
								form.classList.add('was-validated')
							})
						</script>
						<!-- End form validation -->

					</main>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>

