<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>DeFiners Interface</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/indexstyle.css">
</head>

<style>
#cen.swapnav {
	background-color: #D2D2D2;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}

</style>

<body style="background-color: #E1EECC;">

	<div class="container">
		<div th:replace="fragments/header"></div>

		<br>
		<div class="d-flex justify-content-around">
			<h4 class="card-title" style="margin-left: 140px; margin-top: 15px;">
				<b>SWAP</b>
			</h4>
			<div class="d-flex justify-content-start"
				style="margin-right: 140px;">
				<div
					class="navbar navbar-nav justify-content-center  ml-auto dropdown">
					<button onclick="mySetting()" class="dropbtn2 ">
						<i class="fa fa-gear"
							style="font-size: 36px; background-color: #E1EECC;"></i>
					</button>
					<div id="settingdown" class="dropdown-content2 bg-light">
						<p>
							&nbsp; <b>Transaction setting</b><br> <span>&nbsp;
								Slippage tolerance ?</span><br>
						<div class="input-group">
							&nbsp;&nbsp;
							<button type="button" class="btn"
								style="border-radius: 40px; background-color: rgb(224, 234, 251); width: 100px;">Auto</button>
							&nbsp;<input type="tol" class="form-control"
								style="background-color: rgb(211, 211, 211); text-align: right; border-radius: 40px;"
								id="exampleInputamt1" placeholder="0.0%">&nbsp;
						</div>
						<span>&nbsp; Transaction deadline ?</span><br> &nbsp;&nbsp;<input
							type="tol" class="form"
							style="background-color: rgb(211, 211, 211); text-align: center; border-radius: 40px;"
							id="exampleInputamt1" placeholder="30">&nbsp; minutes <br>
						<br> &nbsp;&nbsp;&nbsp;<b>Interface setting</b><br> <span>&nbsp;&nbsp;
							Auto Router API ?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
							class="switch"> <input type="checkbox"> <span
							class="slider round "></span>
						</label><br> <br> <span>&nbsp;&nbsp; Expert Mode ?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label class="switch"> <input type="checkbox"> <span
							class="slider round "></span>
						</label>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center">
			<div class="card w-55" style="border-radius: 20px;">
				<div class="card-body">

					<br>
					<form>
						<div class="input-container">
							<input type="amt1" class="input-field" id="exampleInputamt1"
								placeholder="0.0" style="text-align: center;">
							<div class="dropToken">
								<button onclick="dropToken()" class="droptkn edittkn">Select</button>
								<div id="dropToken" class="dropToken-content"
									style="border-radius: 20px; background-color: #EEE6E6;">
									<a ><button onclick=""
											class="vstablePairs" id="" value=""
											style="border: none; border-radius: 20px; background-color: #EEE6E6;">
											<img src="/images/ethereum_icon.png" width="22" height="22"> ETH</button></a> 
											
									<a ><button onclick=""
											class="vstablePairs" id="" value=""
											style="border: none; border-radius: 20px; background-color: #EEE6E6;">
											<img src="/images/DAI_icon.JPG" width="22" height="22"> DAI</button></a> 
											
									<a ><button onclick="" th:each="token : ${listTokens}"
											class="vstablePairs" id="" value=""
											style="border: none; border-radius: 20px; background-color: #EEE6E6;">
											<img src="" width="22" height="22"><td th:text="${token.name}"></td></button></a> 
									
											
									<a href="#" style="text-align: center;"> Manage Token </a>
								</div>
							</div>

						</div>
						<br>
						<div class="input-container">
							<input type="amt2" class="input-field" id="exampleInputamt1"
								placeholder="0.0" style="text-align: center;">
							<div class="dropToken2">
								<button onclick="dropToken2()" class="edittkn">Select</button>
								<div id="dropToken2" class="dropToken-content"
									style="border-radius: 20px; background-color: #EEE6E6;">
									<a ><button onclick=""
											class="vstablePairs" id="" value=""
											style="border: none; border-radius: 20px; background-color: #EEE6E6;">
											<img src="/images/ethereum_icon.png" width="22" height="22"> ETH</button></a> 
											
									<a ><button onclick=""
											class="vstablePairs" id="" value=""
											style="border: none; border-radius: 20px; background-color: #EEE6E6;">
											<img src="/images/DAI_icon.JPG" width="22" height="22"> DAI</button></a> 
											
									<a ><button onclick="" th:each="token : ${listTokens}"
											class="vstablePairs" id="" value=""
											style="border: none; border-radius: 20px; background-color: #EEE6E6;">
											<img src="" width="22" height="22"><td th:text="${token.name}"></td></button></a> 
											
									<a href="#" style="text-align: center;"> Manage Token </a>
								</div>
							</div>

						</div>
						<br>
						<div class="d-flex justify-content-center">
							<button type="button" class="btn"
								style="background-color: rgb(224, 234, 251); font-size: 18px; width: 200px; height: 50px; border-radius: 40px;">
								<b>Swap</b>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>

	<script>
		function mySetting() {
			document.getElementById("settingdown").classList.toggle("show");
		}

		function dropToken() {
			document.getElementById("dropToken").classList.toggle("showToken");
		}
		
		function dropToken2() {
			document.getElementById("dropToken2").classList.toggle("showToken");
		}
		
		// Close the dropdown if the user clicks outside of it
		window.onclick = function(event) {
			if (!event.target.matches('.edittkn')) {
				var dropdownse = document
						.getElementsByClassName("dropToken-content");
				var i;
				for (i = 0; i < dropdownse.length; i++) {
					var openDropdowne = dropdownse[i];
					if (openDropdowne.classList.contains('showToken')) {
						openDropdowne.classList.remove('showToken');
					}
				}
			}
		}
		
		
	</script>

</body>
</html>

