<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>DeFiners Interface</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		
		<main>
			<h5>DeFiners</h5>
		</main>
		
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>

