<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<title>DeFiners About</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #E1EECC;">
<!-- header -->
<div th:replace="fragments/header"></div>

	<div class="container">
		
<br>
<div class="d-flex justify-content-center">
	<div class="card w-75" style="border-radius: 20px;">
		<div class="card-body">
		<div class="h1">Token</div>
		<table class="table bordered">
			<thead>
				<th>Contract Address</th>
				<th>Name</th>
				<th>Decimals</th>
				<th>Action</th>
			</thead>
			<tbody>
				<!-- iterates the list. for loop each item -->
				<th:block th:each="token : ${listTokens}">
					<tr>
						<!-- th:text evaluate the value of expression and display the value in the table cell  -->
						<!-- ${} retrive information stored in the model attribute -->
						<td th:text="${token.address}"></td>
						<td th:text="${token.name}"></td>
						<td th:text="${token.deci}"></td>
						<td><a th:href="@{token/edit/{id}(id=${token.id})}">Edit</a>
							<a th:href="@{token/delete/{id}(id=${token.id})}">Delete</a></td>
					</tr>
					</th:block>
			</tbody>
		</table>
		<a href="/tokens/add" class="btn btn-primary">Add Token</a>
		</div></div></div>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>

